# SPDX-FileCopyrightText: SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "garden-shoot-trust-configurator.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "labels" . | indent 4 }}
    high-availability-config.resources.gardener.cloud/type: server
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
{{ include "labels" . | indent 6 }}
  template:
    metadata:
      annotations:
        checksum/configmap-{{ include "garden-shoot-trust-configurator.config.name" . }}: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
        networking.gardener.cloud/to-dns: allowed
        networking.resources.gardener.cloud/to-virtual-garden-kube-apiserver-tcp-443: allowed
{{ include "labels" . | indent 8 }}
    spec:
      serviceAccountName: {{ include "garden-shoot-trust-configurator.name" . }}
      automountServiceAccountToken: false
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - {{ include "garden-shoot-trust-configurator.name" . }}
                - key: app.kubernetes.io/instance
                  operator: In
                  values:
                  - {{ .Release.Name }}
              topologyKey: kubernetes.io/hostname
            weight: 1
      containers:
        - name: {{ include "garden-shoot-trust-configurator.name" . }}
          image: {{ include "image" .Values.image }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
          - --kubeconfig={{ required ".Values.projectedKubeconfig.baseMountPath is required" .Values.projectedKubeconfig.baseMountPath }}/kubeconfig
          - --config=/etc/garden-shoot-trust-configurator/config/config.yaml
          ports:
            - name: health
              containerPort: {{ .Values.config.server.healthPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ required ".Values.config.server.healthPort is required" .Values.config.server.healthPort }}
              scheme: HTTP
            initialDelaySeconds: 15
            timeoutSeconds: 5
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
            - name: garden-shoot-trust-configurator-config
              mountPath: /etc/garden-shoot-trust-configurator/config
              readOnly: true
            - mountPath: {{ required ".Values.projectedKubeconfig.baseMountPath is required" .Values.projectedKubeconfig.baseMountPath }}
              name: kubeconfig
              readOnly: true
      volumes:
      - name: garden-shoot-trust-configurator-config
        configMap:
          name: {{ include "garden-shoot-trust-configurator.config.name" . }}
      - name: kubeconfig
        projected:
          defaultMode: 420
          sources:
            - secret:
                items:
                  - key: kubeconfig
                    path: kubeconfig
                name: {{ required ".Values.projectedKubeconfig.genericKubeconfigSecretName is required" .Values.projectedKubeconfig.genericKubeconfigSecretName }}
                optional: false
            - secret:
                items:
                  - key: token
                    path: token
                name: {{ required ".Values.projectedKubeconfig.tokenSecretName is required" .Values.projectedKubeconfig.tokenSecretName }}
                optional: false
