# SPDX-FileCopyrightText: SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

# TLS Configuration of the ValidatingWebhookConfiguration. The CA bundle is used to verify the webhook server certificate.
# The CA bundle should be the CA that signed the webhook server certificate used in the runtime cluster
# (see runtime.config.server.webhooks.tls.crt and runtime.config.server.webhooks.tls.key).
webhookConfig:
  tls:
    caBundle: |
      -----BEGIN CERTIFICATE-----
      ...
      -----END CERTIFICATE-----
