# SPDX-FileCopyrightText: SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

replicaCount: 1

image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/garden-shoot-trust-configurator
  pullPolicy: IfNotPresent
  tag: latest

projectedKubeconfig:
  baseMountPath: /var/run/secrets/gardener.cloud
  genericKubeconfigSecretName: generic-token-kubeconfig
  tokenSecretName: garden-shoot-trust-configurator-access-token

# Controller configuration values, passed as a config file
config:
  server:
    healthProbes:
      port: 8081
    metrics:
      port: 8080
    webhooks:
      port: 10443
      # These must be signed by the same CA that is provided in the application chart
      # under application.webhooks.tls.caBundle.
      tls:
        crt: |
          -----BEGIN CERTIFICATE-----
          ...
          -----END CERTIFICATE-----
        key: |
          -----BEGIN PRIVATE KEY-----
          ...
          -----END PRIVATE KEY-----
  leaderElection:
    leaderElect: true
    leaseDuration: 15s
    renewDeadline: 10s
    retryPeriod: 2s
    resourceLock: leases
  logLevel: info
  logFormat: json
  controllers:
    shoot:
      syncPeriod: 1h
      oidcConfig:
        audiences:
        - garden
        maxTokenExpiration: 2h
    garbageCollector: 
      syncPeriod: 1h
      minimumObjectLifetime: 10m

additionalAnnotations:
  service: {}

resources:
  requests:
    cpu: 50m
    memory: 64Mi

priorityClassName: gardener-garden-system-400

vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      memory: 64Mi
  updatePolicy:
    updateMode: "Recreate"
