# SPDX-FileCopyrightText: SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

# Global values for the garden-shoot-trust-configurator chart.
# These values are shared between the application and runtime sub-charts.
global:
  leaderElection:
    id: garden-shoot-trust-configurator-leader-election

# Application chart values for garden-shoot-trust-configurator that will create the RBAC in the Virtual Garden cluster.
# It also creates the ValidatingWebhookConfiguration that points to the webhook server in the Runtime Garden cluster.
application:
  enabled: false

  # TLS Configuration of the ValidatingWebhookConfiguration. The CA bundle is used to verify the webhook server certificate.
  # The CA bundle should be the CA that signed the webhook server certificate used in the runtime cluster
  # (see runtime.config.server.webhooks.tls.crt and runtime.config.server.webhooks.tls.key).
  webhookConfig:
    tls:
      caBundle: |
        -----BEGIN CERTIFICATE-----
        ...
        -----END CERTIFICATE-----

# Runtime chart values for garden-shoot-trust-configurator that will deploy the controller in the Runtime Garden cluster.
runtime:
  enabled: false

  replicaCount: 1

  image:
    repository: europe-docker.pkg.dev/gardener-project/public/gardener/garden-shoot-trust-configurator
    pullPolicy: IfNotPresent
    tag: latest
  
  projectedKubeconfig:
    baseMountPath: /var/run/secrets/gardener.cloud
    genericKubeconfigSecretName: generic-token-kubeconfig
    tokenSecretName: garden-shoot-trust-configurator-access-token

  # Controller configuration values, passed as a config file
  config:
    server:
      healthProbes:
        port: 8081
      metrics:
        port: 8080
      webhooks:
        port: 10443
        # These must be signed by the same CA that is provided in the application chart
        # under application.webhookConfig.tls.caBundle.
        tls:
          crt: |
            -----BEGIN CERTIFICATE-----
            ...
            -----END CERTIFICATE-----
          key: |
            -----BEGIN PRIVATE KEY-----
            ...
            -----END PRIVATE KEY-----
    leaderElection:
      leaderElect: true
      leaseDuration: 15s
      renewDeadline: 10s
      retryPeriod: 2s
      resourceLock: leases
    logLevel: info
    logFormat: json
    controllers:
      shoot:
        syncPeriod: 1h
        oidcConfig:
          audiences:
          - garden
          maxTokenExpiration: 2h
      garbageCollector: 
        syncPeriod: 1h
        minimumObjectLifetime: 10m

  additionalAnnotations:
    service: {}

  resources:
    requests:
      cpu: 50m
      memory: 64Mi

  priorityClassName: gardener-garden-system-400
  
  vpa:
    enabled: true
    resourcePolicy:
      minAllowed:
        memory: 64Mi
    updatePolicy:
      updateMode: "Recreate"
