# SPDX-FileCopyrightText: SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

global:
  leaderElection:
    leaderElectionID: garden-shoot-trust-configurator-leader-election
  webhooks:
    tls:
      caBundle: |
        -----BEGIN CERTIFICATE-----
        ...
        -----END CERTIFICATE-----
      crt: |
        -----BEGIN CERTIFICATE-----
        ...
        -----END CERTIFICATE-----
      key: |
        -----BEGIN PRIVATE KEY-----
        ...
        -----END PRIVATE KEY-----

# Application chart values for garden-shoot-trust-configurator that will create the needed RBAC in the Virtual Garden cluster.
application:
  enabled: false

# Runtime chart values for garden-shoot-trust-configurator that will deploy the controller in the Runtime Garden cluster.
runtime:
  enabled: false

  replicaCount: 1

  image:
    repository: europe-docker.pkg.dev/gardener-project/public/gardener/garden-shoot-trust-configurator
    pullPolicy: IfNotPresent
    tag: latest
  
  projectedKubeconfig:
    baseMountPath: /var/run/secrets/gardener.cloud
    genericKubeconfigSecretName: generic-token-kubeconfig
    tokenSecretName: garden-shoot-trust-configurator-access-token

  # Controller configuration values, passed as a config file
  config:
    server:
      healthProbes:
        port: 8081
      webhooks:
        port: 10443
        tls:
          serverCertDir: /etc/garden-shoot-trust-configurator/tls
    leaderElection:
      leaderElect: true
      leaseDuration: 15s
      renewDeadline: 10s
      retryPeriod: 2s
      resourceLock: leases
    logLevel: info
    logFormat: json
    controllers:
      shoot:
        syncPeriod: 1h
        oidcConfig:
          audiences:
          - garden
          maxTokenExpiration: 2h
      garbageCollector: 
        syncPeriod: 1h
        minimumObjectLifetime: 10m

  additionalAnnotations:
    service: {}

  resources:
    requests:
      cpu: 50m
      memory: 64Mi

  priorityClassName: gardener-garden-system-400
  
  vpa:
    enabled: true
    resourcePolicy:
      minAllowed:
        memory: 64Mi
    updatePolicy:
      updateMode: "Recreate"
